<span class="bifoldContainer">
    <span class="bifold">
        <img src="assets/ExampleImage.png" alt="FAQ in Taniti" class="sideImage">
    </span>
    <span class="bifold">
        <h1>Frequently Asked Questions</h1>
        <h2>Do I need to bring a power adapter?</h2>
        <p>Power outlets are 120 volts (the same as in the United States).</p>
        <h2>What are the restrictions on alcohol in Taniti?</h2>
        <p>Alcohol is not allowed to be served or sold between the hours of midnight and 9:00 a.m.<br>The drinking age on Taniti is 18 and the drinking age is not strictly enforced.</p>
        <h2>Can I get by just speaking English?</h2>
        <p>Many younger Tanitians speak fluent English. Very little English is spoken in rural areas, especially by the older residents.</p>
        <h2>What if I have a medical emergency?</h2>
        <p>There is one hospital and several clinics. The hospital has many multilingual employees.</p>
        <h2>What local dangers should I look out for?</h2>
        <p>Violent crime is very rare on Taniti, but as tourism increases, there are more reports of pickpocketing and other petty crimes. </p>
        <h2>What kind of festivals and holidays are celebrated in Taniti?</h2>
        <p>Taniti enjoys a large number of national holidays, and many tourist attractions and restaurants will be closed on holidays, so visitors should plan accordingly.</p>
        <h2>What is the local currency?</h2>
        <p>Taniti uses the U.S. dollar as its currency, but many businesses will also accept euros and yen. Several banks facilitate currency exchange, and many businesses accept major credit cards.</p>
    </span>
</span>
