<span class="trifoldContainer">
    <span class="trifold">
        <img src="assets/ExampleImage.png" alt="Dining in Taniti" class="sideImage">
    </span>
    <span class="trifold">
        <h1>Dining in Taniti</h1>
        <h2>Restaurants</h2>
        <p>Taniti currently has 10 restaurants: five serve mostly local fish and rice, three serve American-style meals, and two serve Pan-Asian cuisine.  Find more information about the Tanitian family of restaurants <a href="https://example.com" target="_blank">here</a>.</p>
        <h2>Grocery stores</h2>
        <p>Taniti has two supermarkets, two smaller grocery stores, and one convenience store that is open 24 hours a day. Find more information about them <a href="https://example.com" target="_blank">here</a>.</p>
    </span>
</span>