<a routerLink=""><img src="assets/tanitiExampleLogo.png" alt="Example Taniti Travel Logo" id="tanitiLogo"></a>
<nav>
    <a routerLink="" class="nav-link">Home</a><span> - </span>
    <a routerLink="dining" class="nav-link">Dining</a><span> - </span>
    <a routerLink="entertainment" class="nav-link">Entertainment</a><span> - </span>
    <a routerLink="lodging" class="nav-link">Lodging</a><span> - </span>
    <a routerLink="sightseeing" class="nav-link">Sightseeing</a><span> - </span>
    <a routerLink="transportation" class="nav-link">Transportation</a><span> - </span>
    <a routerLink="contactUs" id="contactUs" class="nav-link">Contact Us!</a>
</nav>