<span class="bifoldContainer">
    <span class="bifold">
        <img src="assets/ExampleImage.png" alt="Lodging in Taniti" class="sideImage">
    </span>
    <span class="bifold">
        <h1>Where to stay during your visit</h1>
        <p>Taniti has a wide variety of lodging that ranges from an inexpensive hostel to one large, four-star resort. There are many small, family-owned hotels and a growing number of bed and breakfasts. All types of lodging are strictly regulated and regularly inspected by the Tanitian government.</p>
        <p>To reach our most inexpensive hostel, call <a href="tel:1-800-123-4567">1-800-123-4567</a> or visit <a href="https://example.com" target="_blank">their website</a>.</p>
        <p>To reach our most luxurious resort, call <a href="tel:1-800-123-4568">1-800-123-4568</a> or visit <a href="https://example.com" target="_blank">their website</a>.</p>
        <p>For information about any option in between, visit <a href="https://example.com" target="_blank">here</a>.</p>
    </span>
</span>