<p>Taniti is a small, tropical island in the Pacific. While the island has an area of less than 500 square miles, the terrain is varied and includes both sandy and rocky beaches, a small but safe harbor, lush tropical rainforests, and a mountainous interior that includes a small, active volcano. Taniti has an indigenous population of about 20,000. Until a recent increase in tourism, most the Tanitian economy was dominated by fishing or agriculture.</p>
<p>Explore the unique culture and natural beauty of Taniti on your next vacation!</p>
<p>This site will help you plan your perfect trip to this beautiful destination!</p>

<div class="trifoldContainer">
    <span class="trifold"><a routerLink="article"><img src="assets/Potential Article.png" alt="Example article image" id="article"></a><br>
    <h1>Article Headline</h1><br>
    <p>This is a brief description of the article.  To be replaced with real articles in the future.</p>
    </span>
    <span class="trifold"><a routerLink="article"><img src="assets/Potential Article.png" alt="Example article image" id="article"></a><br>
    <h1>Article Headline</h1><br>
    <p>This is a brief description of the article.  To be replaced with real articles in the future.</p>
    </span>
    <span class="trifold"><a routerLink="article"><img src="assets/Potential Article.png" alt="Example article image" id="article"></a><br>
    <h1>Article Headline</h1><br>
    <p>This is a brief description of the article.  To be replaced with real articles in the future.</p>
    </span>
</div>